<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>M2C | About us</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="../static/assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/assets/css/slicknav.css">
    <link rel="stylesheet" href="../static/assets/css/flaticon.css">
    <link rel="stylesheet" href="../static/assets/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="../static/assets/css/gijgo.css">
    <link rel="stylesheet" href="../static/assets/css/animate.min.css">
    <link rel="stylesheet" href="../static/assets/css/animated-headline.css">
    <link rel="stylesheet" href="../static/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="../static/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/assets/css/themify-icons.css">
    <link rel="stylesheet" href="../static/assets/css/slick.css">
    <link rel="stylesheet" href="../static/assets/css/nice-select.css">
    <link rel="stylesheet" href="../static/assets/css/style.css">
    
</head>
<body class="full-wrapper">
   
    <header>
        <div class="header-area ">
            <div class="main-header header-sticky">
                <div class="container-fluid">

                    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white">
                        <a class="navbar-brand text-danger font-weight-bold" href="/acceuil">MADE 2 CREATE</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                    
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                            <a class="nav-link" href="/acceuil">Acceuil <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="/classification">Classification</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="/generation">Génération</a>
                            </li>
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Nos catégories
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/tshirt_top">T-shirt/Top</a>
                                <a class="dropdown-item" href="/pantalon">Pantalon</a>
                                <a class="dropdown-item" href="/pull">Pull</a>
                                <a class="dropdown-item" href="/robe">Robe</a>
                                <a class="dropdown-item" href="/manteau">Manteau</a>
                                <a class="dropdown-item" href="/sandale">Sandale</a>
                                <a class="dropdown-item" href="/chemise">Chemise</a>
                                <a class="dropdown-item" href="/baskets">Baskets</a>
                                <a class="dropdown-item" href="/sac">Sac</a>
                                <a class="dropdown-item" href="/bottines">Bottines</a>
                            </div>
                            </li>
                        </ul>
                        </div>
                    </nav>

                </div>
            </div>
        </div>
    </header>

    <main>
        <!-- breadcrumb Start-->
        <div class="page-notification">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="/acceuil">Acceuil</a></li>
                                <li class="breadcrumb-item"><a href="#">About us</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb End-->
        <div class="container-fluid ">
            
            <div class="row justify-content-center mb-30">
                <div class="section-tittle mb-60 text-center wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                    <h2>Qui sommes nous ? </h2>
                </div>
            </div>

            <div class="row justify-content-center mb-60">
                <div class="container-fluid ">
                    <div class="row justify-content-between">
                        <div class="col-3 mt-50 popular-items">
                            <div class="single-popular-items  wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                                <div class="popular-img">
                                    <img src="../static/assets/img/gallery/clover.jpeg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-3 popular-items">
                            <div class="single-popular-items  wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                                <div class="popular-img">
                                    <img src="../static/assets/img/gallery/captain.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-3 popular-items">
                            <div class="single-popular-items  wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                                <div class="popular-img">
                                    <img src="../static/assets/img/gallery/mulan.jpeg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center mb-60">
                <div class="container-fluid ">
                    <div class="row justify-content-between">
                        <div class="col-3 popular-items">
                            <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                                <h2 class="text-center">Michaela</h2>
                                <h2 class="text-danger text-center">Alias Clover</h2>
                            </div>
                        </div>
                        <div class="col-3 popular-items">
                            <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                                <h2 class="text-center">Cirine</h2>
                                <h2 class="text-danger text-center">Alias Captain</h2>
                            </div>
                        </div>
                        <div class="col-3  popular-items">
                            <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                                <h2 class="text-center">Maryam</h2>
                                <h2 class="text-danger text-center">Alias Mulan</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center mb-30">
                <div class="section-tittle mt-60 mb-50 text-center wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                    <h2>Notre histoire</h2>
                </div>
            </div>

            <div class="row justify-content-center ">
                <div class="container-fluid ">
                    <div class="row justify-content-center mb-40">
                            <div >
                                <h9>Quand nous avions reçu le sujet du projet nous étions extrêmement motivée, le sujet nous interessait énormément !
                                    Cependant nous n'avions jamais entendu parler de deep learning. 
                                    Tout était nouveau pour nous, nous avions beaucoup de questions. 
                                    Nous ne savions pas par où commencer, c'était la panique à bord !
                                </h9>
                            </div>
                    </div>

                    <div class="row justify-content-center mb-40">
                        <div class="single-popular-items  wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                            <div class="popular-img">
                                <img src="../static/assets/img/gallery/totaly_choque.jpeg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mb-40">
                        <div >
                            <h9>Nous avons dû regarder des dizaines de tutos, consulter énormément de documentations, suivre des formations
                                en ligne etc... 
                                Une fois les bases comprises nous avons sollicité nos professeurs (petite dédicasse à Rémy Cazabet et Alexandre Meyer !).
                                Leur aide nous a été très precieuse et nous a permis de prendre les bonnes directions pour le projet.
                                Une fois lancé nous avons pu vraiment bien avancer, nous avons conçu un CNN basé sur le dataset "Fashion MNIST"
                                et nous avons réussis à obtenir un résultat de 92% d'accuracy sur le jeu de test (qui contient 10 000 images de vêtements) !
                            </h9>
                        </div>
                    </div>

                    <div class="row justify-content-center mb-40">
                        <div class="single-popular-items  wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                            <div class="popular-img">
                                <img src="../static/assets/img/gallery/nous_tous.jpeg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mb-40">
                        <div >
                            <h9>
                                Nous nous sommes ensuite lancé dans le déploiement du modèle sur une page web (celle où vous êtes actuellement).
                                Ce n'était pas gagné car nous avons subis ENORMEMENT de problèmes avec l'utilisation de flask et autres sur nos machines.
                                Nous avons passé des jours et des jours à essayer de régler les soucis, la frustration c'est bien fait sentir ...
                            </h9>
                        </div>
                    </div>

                    <div class="row justify-content-center mb-40">
                        <div class="single-popular-items  wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                            <div class="popular-img">
                                <img src="../static/assets/img/gallery/totaly_sad.jpeg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mb-40">
                        <div >
                            <h9>
                                Une fois la page web mise en place nous avons essayé de tester notre modèle sur des images quelconque prisent sur google.
                                Cependant nous avons constaté que le modèle ne reconnaissais pas les images. Nous nous sommes rendu compte que nous devions 
                                entrainer notre modele sur des images transformé (retourné, dézoomé etc..), mais aussi l'entrainer sur des images où on aura 
                                appliqué des filtres.
                                Nous avons rencontré de nombreuses difficultées, certaines ont été résolue d'autres non.
                                Les deadlines se rapprochaient, c'était totalement la panique !
                                
                            </h9>
                        </div>
                    </div>

                    <div class="row justify-content-center mb-40">
                        <div class="single-popular-items  wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                            <div class="popular-img">
                                <img src="../static/assets/img/gallery/totaly_deadline.jpeg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center mb-40">
                        <div >
                            <h9>
                                Dans l'ensemble nous sommes très fière de notre projet (même s'il n'est pas parfait). Nous repartons avec énormément de nouvelles compétences
                                et connaissances.
                                Nous avons appris de nouveaux concepts: la classification d'images avec les <b>réseaux de neurones CNN</b>, et
                                la génération d'images avec les <b>réseaux GAN</b> (nous avons réalisé un DCGAN).
                                Nous avons découvert et utilisé les sites comme <b>Kaggle</b> et <b>Google Collab</b>.
                                Nous avons appris à manipuler de nouveaux outils, tel que la suite de logiciels disponibles sur <b>Anaconda</b>,
                                et le fonctionnement général de celui-ci. Nous avons aussi dû maîtriser l'utilisation de <b>serveur web locaux</b> comme <i>flask</i> et <i>xampp</i>. 
                                Nous avons appris à <b>coder en python</b> (utilisation des librairies <b>Keras</b> et <b>Tensorflow</b>). 
                                Nous avons aussi rafraîchis nos connaissance en <b>html</b>, <b>css</b>, framework comme <b>Boostrap</b> etc...
                                Dans l'ensemble ce fut une très bonne expérience, et l'un de nos meilleurs projets réalisés au cours de cette licence !
                            </h9>
                        </div>
                    </div>

                    <div class="row justify-content-center mb-40">
                        <div class="single-popular-items  wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                            <div class="popular-img">
                                <img src="../static/assets/img/gallery/totaly_finish.jpeg" alt="">
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    
    </main>

    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container-fluid ">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3   ">
                     <div class="single-footer-caption mb-50">
                       <div class="single-footer-caption">
                        <div class="footer-tittle">
                            <h4>MADE 2 CREATE</h4>
                        </div>
                       <div class="footer-tittle">
                           <div class="footer-pera">
                            <p>La pointe de la technologie au service de la mode !</br>
                                Amusez vous avec notre classification d'images de vêtements ainsi que la génération d'images !
                            </p>
                           </div>
                       </div>
                       <!-- social -->
                       <div class="footer-social">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3   ">
            <div class="single-footer-caption mb-50">
                <div class="footer-tittle">
                    <h4>Nos partenaires</h4>
                    <ul>
                        <li><a href="#">Rémy Cazabet</a></li>
                        <li><a href="#">Alexandre Meyer</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-3   ">
            <div class="single-footer-caption mb-50">
                <div class="footer-tittle">
                    <h4>Nous rencontrer</h4>
                    <ul>
                        <li><a href="#">Université Claude Bernard Lyon 1</a></li>
                        <li><a href="#">Nautibus, 23 Avenue Pierre de Coubertin, 69100 Villeurbanne</a></li>
                    </ul>
                </div>
            </div>
        </div>
    
    
    </div>
    </div>
    </div>
</footer>
<!--? Search model Begin -->
<div class="search-model-box">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-btn">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Searching key.....">
        </form>
    </div>
</div>
<!-- Search model end -->
<!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<!-- Jquery, Popper, Bootstrap -->
<script src="../static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="../static/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="../static/assets/js/popper.min.js"></script>
<script src="../static/assets/js/bootstrap.min.js"></script>

<!-- Slick-slider , Owl-Carousel ,slick-nav -->
<script src="../static/assets/js/owl.carousel.min.js"></script>
<script src="../static/assets/js/slick.min.js"></script>
<script src="../static/assets/js/jquery.slicknav.min.js"></script>

<!-- One Page, Animated-HeadLin, Date Picker -->
<script src="../static/assets/js/wow.min.js"></script>
<script src="../static/assets/js/animated.headline.js"></script>
<script src="../static/assets/js/jquery.magnific-popup.js"></script>
<script src="../static/assets/js/gijgo.min.js"></script>

<!-- Nice-select, sticky,Progress -->
<script src="../static/assets/js/jquery.nice-select.min.js"></script>
<script src="../static/assets/js/jquery.sticky.js"></script>
<script src="../static/assets/js/jquery.barfiller.js"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="../static/assets/js/jquery.counterup.min.js"></script>
<script src="../static/assets/js/waypoints.min.js"></script>
<script src="../static/assets/js/jquery.countdown.min.js"></script>
<script src="../static/assets/js/hover-direction-snake.min.js"></script>

<!-- contact js -->
<script src="../static/assets/js/contact.js"></script>
<script src="../static/assets/js/jquery.form.js"></script>
<script src="../static/assets/js/jquery.validate.min.js"></script>
<script src="../static/assets/js/mail-script.js"></script>
<script src="../static/assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="../static/assets/js/plugins.js"></script>
<script src="../static/assets/js/main.js"></script>

</body>
</html>