<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>M2C | Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="../static/assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/assets/css/slicknav.css">
    <link rel="stylesheet" href="../static/assets/css/flaticon.css">
    <link rel="stylesheet" href="../static/assets/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="../static/assets/css/gijgo.css">
    <link rel="stylesheet" href="../static/assets/css/animate.min.css">
    <link rel="stylesheet" href="../static/assets/css/animated-headline.css">
    <link rel="stylesheet" href="../static/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="../static/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/assets/css/themify-icons.css">
    <link rel="stylesheet" href="../static/assets/css/slick.css">
    <link rel="stylesheet" href="../static/assets/css/nice-select.css">
    <link rel="stylesheet" href="../static/assets/css/style.css">
    
</head>
<body class="full-wrapper">
   

    <header>
        <div class="header-area ">
            <div class="main-header header-sticky">
                <div class="container-fluid">

                    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white">
                        <a class="navbar-brand text-danger font-weight-bold" href="/acceuil">MADE 2 CREATE</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                    
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                            <a class="nav-link" href="/acceuil">Acceuil <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="/classification">Classification</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="/generation">Génération</a>
                            </li>
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Nos catégories
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/tshirt_top">T-shirt/Top</a>
                                <a class="dropdown-item" href="/pantalon">Pantalon</a>
                                <a class="dropdown-item" href="/pull">Pull</a>
                                <a class="dropdown-item" href="/robe">Robe</a>
                                <a class="dropdown-item" href="/manteau">Manteau</a>
                                <a class="dropdown-item" href="/sandale">Sandale</a>
                                <a class="dropdown-item" href="/chemise">Chemise</a>
                                <a class="dropdown-item" href="/baskets">Baskets</a>
                                <a class="dropdown-item" href="/sac">Sac</a>
                                <a class="dropdown-item" href="/bottines">Bottines</a>
                            </div>
                            </li>
                        </ul>
                        </div>
                    </nav>

                </div>
            </div>
        </div>
    </header>

    
    <main>
        <!--? Hero Area Start-->
        <div class="container-fluid">
            <div class="slider-area">

                <div class="slider-active dot-style">
                    <!-- Single -->
                    <div class="single-slider slider-bg1 hero-overly slider-height d-flex align-items-center">
                        <div class="container">
                                    <!-- Hero Caption -->
                                    <div class="hero__caption align-content-md-center">
                                        <h1>fashion<br></h1>
                                        <h1>classification<br></h1>
                                        <h1>generation</h1>
                                    </div>
                                
                        </div>
                    </div>
                    <!-- Single -->
                    <div class="single-slider slider-bg2 hero-overly slider-height d-flex align-items-center">
                        <div class="container">
                                    <!-- Hero Caption -->
                                    <div class="hero__caption align-content-md-center">
                                        <h1>fashion<br></h1>
                                        <h1>classification<br></h1>
                                        <h1>generation</h1>
                                    </div>
                               
                        </div>
                    </div>
                    <!-- Single -->
                    <div class="single-slider slider-bg3 hero-overly slider-height d-flex align-items-center">
                        <div class="container">
                                    <!-- Hero Caption -->
                                    <div class="hero__caption align-content-md-center">
                                        <h1>fashion<br></h1>
                                        <h1>classification<br></h1>
                                        <h1>generation</h1>
                                    </div>
                               
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Hero -->
        <!--? Popular Items Start -->
        <div class="popular-items pt-50">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8 col-md-10">
                        <div class="section-tittle mb-60 text-center wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                            <h2>Notre collection</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-2 ">
                        <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                            <div class="popular-img">
                                <img src="../static/assets/img/gallery/top.jpg" alt="">
                                <div class="img-cap">
                                    <span>T-shirt/Top</span>
                                </div>
                                <div class="favorit-items">
                                    <a href="/tshirt_top" class="btn">Voir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 ">
                        <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                            <div class="popular-img">
                                <img src="../static/assets/img/gallery/pantalon.jpg" alt="">
                                <div class="img-cap">
                                    <span>Pantalon</span>
                                </div>
                                <div class="favorit-items">
                                    <a href="/pantalon" class="btn">Voir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 ">
                        <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                            <div class="popular-img">
                                <img src="../static/assets/img/gallery/pull.jpg" alt="">
                                <div class="img-cap">
                                    <span>Pull</span>
                                </div>
                                <div class="favorit-items">
                                    <a href="/pull" class="btn">Voir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 ">
                        <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                            <div class="popular-img">
                                <img src="../static/assets/img/gallery/robe.jpg" alt="">
                                <div class="img-cap">
                                    <span>Robe</span>
                                </div>
                                <div class="favorit-items">
                                    <a href="/robe" class="btn">Voir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                            <div class="popular-img">
                                <img src="../static/assets/img/gallery/sac.jpg" alt="">
                                <div class="img-cap">
                                    <span>Sacs</span>
                                </div>
                                <div class="favorit-items">
                                    <a href="/sac" class="btn">Voir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="popular-items pt-50">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-2 ">
                        <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                            <div class="popular-img">
                                <img src="../static/assets/img/gallery/veste.jpg" alt="">
                                <div class="img-cap">
                                    <span>Manteau</span>
                                </div>
                                <div class="favorit-items">
                                    <a href="/manteau" class="btn">Voir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 ">
                        <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                            <div class="popular-img">
                                <img src="../static/assets/img/gallery/sandale.jpg" alt="">
                                <div class="img-cap">
                                    <span>Sandale</span>
                                </div>
                                <div class="favorit-items">
                                    <a href="/sandale" class="btn">Voir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 ">
                        <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                            <div class="popular-img">
                                <img src="../static/assets/img/gallery/chemise.jpg" alt="">
                                <div class="img-cap">
                                    <span>Chemise</span>
                                </div>
                                <div class="favorit-items">
                                    <a href="/chemise" class="btn">Voir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 ">
                        <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                            <div class="popular-img">
                                <img src="../static/assets/img/gallery/baskets.jpg" alt="">
                                <div class="img-cap">
                                    <span>Baskets</span>
                                </div>
                                <div class="favorit-items">
                                    <a href="/baskets" class="btn">Voir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 ">
                        <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                            <div class="popular-img">
                                <img src="../static/assets/img/gallery/bottines.jpg" alt="">
                                <div class="img-cap">
                                    <span>Bottines</span>
                                </div>
                                <div class="favorit-items">
                                    <a href="/bottines" class="btn">Voir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--? collection -->
<section class="collection section-bg2 section-padding30 section-over1 ml-15 mr-15" data-background="../static/assets/img/gallery/section_bg01.png">
    <div class="container-fluid"></div>
    <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9">
            <div class="single-question text-center">
                <h2 class="wow fadeInUp" data-wow-duration="2s" data-wow-delay=".1s">Notre équipe</h2>
                <a href="/aboutus" class="btn wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">About Us</a>
            </div>
        </div>
    </div>
</div>
</section>

<!--? Services Area End -->
</main>
<footer>
</br>

    <!-- Footer Start-->
    <div class="footer-area footer-padding">
        <div class="container-fluid ">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-3   ">
                 <div class="single-footer-caption mb-50">
                   <div class="single-footer-caption mb-30">
                    <div class="footer-tittle">
                        <h4>MADE 2 CREATE</h4>
                    </div>
                   <div class="footer-tittle">
                       <div class="footer-pera">
                        <p>La pointe de la technologie au service de la mode !</br>
                            Amusez vous avec notre classification d'images de vêtements ainsi que la génération d'images !
                        </p>
                       </div>
                   </div>
                   <!-- social -->
                   <div class="footer-social">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3   ">
        <div class="single-footer-caption mb-50">
            <div class="footer-tittle">
                <h4>Nos partenaires</h4>
                <ul>
                    <li><a href="#">Rémy Cazabet</a></li>
                    <li><a href="#">Alexandre Meyer</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-3   ">
        <div class="single-footer-caption mb-50">
            <div class="footer-tittle">
                <h4>Nous rencontrer</h4>
                <ul>
                    <li><a href="#">Université Claude Bernard Lyon 1</a></li>
                    <li><a href="#">Nautibus, 23 Avenue Pierre de Coubertin, 69100 Villeurbanne</a></li>
                </ul>
            </div>
        </div>
    </div>


</div>
</div>
</div>
</footer>
<!--? Search model Begin -->
<div class="search-model-box">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-btn">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Searching key.....">
        </form>
    </div>
</div>
<!-- Search model end -->
<!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<!-- Jquery, Popper, Bootstrap -->
<script src="../static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="../static/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="../static/assets/js/popper.min.js"></script>
<script src="../static/assets/js/bootstrap.min.js"></script>

<!-- Slick-slider , Owl-Carousel ,slick-nav -->
<script src="../static/assets/js/owl.carousel.min.js"></script>
<script src="../static/assets/js/slick.min.js"></script>
<script src="../static/assets/js/jquery.slicknav.min.js"></script>

<!-- One Page, Animated-HeadLin, Date Picker -->
<script src="../static/assets/js/wow.min.js"></script>
<script src="../static/assets/js/animated.headline.js"></script>
<script src="../static/assets/js/jquery.magnific-popup.js"></script>
<script src="../static/assets/js/gijgo.min.js"></script>

<!-- Nice-select, sticky,Progress -->
<script src="../static/assets/js/jquery.nice-select.min.js"></script>
<script src="../static/assets/js/jquery.sticky.js"></script>
<script src="../static/assets/js/jquery.barfiller.js"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="../static/assets/js/jquery.counterup.min.js"></script>
<script src="../static/assets/js/waypoints.min.js"></script>
<script src="../static/assets/js/jquery.countdown.min.js"></script>
<script src="../static/assets/js/hover-direction-snake.min.js"></script>

<!-- contact js -->
<script src="../static/assets/js/contact.js"></script>
<script src="../static/assets/js/jquery.form.js"></script>
<script src="../static/assets/js/jquery.validate.min.js"></script>
<script src="../static/assets/js/mail-script.js"></script>
<script src="../static/assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="../static/assets/js/plugins.js"></script>
<script src="../static/assets/js/main.js"></script>

</body>
</html>